.Extra {
    border-top: 3px solid rgb(230, 230, 237);
    border-left: 3px solid white;
    border-right: 3px solid white;
    padding: 15px;
    height: 530px;
    width: 1050px;
    box-shadow: rgb(230, 230, 237);

}